
.page-portrait {
    width: 210mm;  
    height: 297mm; 
    margin: auto;  
    font-family: 'Tahoma', sans-serif;
}

.page-landscape {
    width: 297mm;  
    height: 210mm; 
    margin: auto;  
    font-family: 'Tahoma', sans-serif;
}

.header-first-page-container {
    display: flex;
    align-items: flex-start; 
    background-color:#221161; 
    padding: 5mm 5mm; 
    justify-content: space-between; 
}

.logo-header-container {
    flex: 0; 
    align-self: flex-start; 
    padding: 0mm 0mm;  
}

.logo-header {
    max-height: 20mm; 
    width: auto; 
    display: block;
}

.H2-right {
    font-size: 16pt;
    text-align: right;
    padding: 2mm 5mm;
    flex: 1 1 auto;
    color: #FFFFFF;
    font-style: italic;
}

.H1-right {
    font-size: 18pt;
    text-align: right;
    padding: 2mm 5mm;
    flex: 1 1 auto;
    color: #FFFFFF;
    font-weight: bold;
}

.content-section {
    display: flex;  
}

.vertical-split-portrait {
    flex: 1;
    box-sizing: border-box; 
    padding: 5mm 10mm;
    height: 242mm;
    background-color: #FFFFFF; 
}

.H3 {
    height: 16pt;
    text-align: left;
    padding: 15mm;
}

.quarter-container {
    height: 25%;
    text-align: center;
    padding: 15mm;
    background-color: #FFFFFF;
}

.notes {
    font-size: 10pt;
    text-align: left;
    padding: 15mm;
    font-style: italic;
}


.table-container {
    width: 100%;
    overflow-x: auto;
  }
  
table {
border-collapse: collapse;
width: 100%;
}

th,
td {
border: 1px solid black;
padding: 5px;
text-align: center;
}

/* Table header styling */

th {
background-color: #ccc;
font-weight: bold;
}

/* Table row styling */

tr:nth-child(even) {
background-color: #eee;
}

/* Specific styling for the "Change from" header row */

th:first-child {
text-align: left;
font-size: 120%;
font-weight: bold;
}

th:nth-child(2),
th:nth-child(3),
th:nth-child(4),
th:nth-child(5) {
background-color: #ccc;
font-weight: bold;
text-align: center;
border-left: none;
}

/* Specific styling for the "Applications" and "Individuals" rows */

tr:nth-child(2),
tr:nth-child(3) td:first-child {
text-align: right;
}

/* Specific styling for the "Prior month", "Prior year", "Rolling average", and "Prior year end" columns */
